@font-face {
  font-family: 'GothaPro';
  src: url('../fonts/GothaPro/GothaPro-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GothaPro';
  src: url('../fonts/GothaPro/GothaPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GothaPro';
  src: url('../fonts/GothaPro/GothaPro-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}


/* 
* MAIN
*/

body {
	font-family: GothaPro, Arial, Helvetica, sans-serif;
	font-weight: 300;
	color: #221f1f;
	line-height: 1.42;
	width: 1100px;
	height: 100%;
}


/* 
* HEADER
*/

.header {
	background-color: #27273e;
}

.header__phone {
	font-weight: 700;
	font-size: 21px;
	color: #ffffff;
	text-decoration: none;
}

.header__schedule {
	font-family: OpenSans, Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 14px;
	opacity: .7;
	color: #5dd1f8;
	text-decoration: none;
}

.header__schedule:hover {
	color: #ec1e79;
}


/* 
* NAV
*/

.nav {
	width: 200px;
}

.nav__list {
	list-style: none;
}

.nav__link {
	text-decoration: none;
}

.nav__link:hover .nav__icon--main {
	background-image: url('../img/icons/main_icon_red.png');
}

.nav__link:hover .nav__icon--feed {
	background-image: url('../img/icons/feed_icon_red.png');
}

.nav__link:hover .nav__text {
	color: #ec1e79;
}

.nav__icon {
	width: 18px;
	height: 15px;
}

.nav__icon--main {
	background-image: url('../img/icons/main_icon_black.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.nav__icon--feed {
	background-image: url('../img/icons/feed_icon_black.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.nav__text {
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
	color: #ec1e79;
}

.nav__text--active {
	color: #221f1f;
}


/* 
* MAIN CONTENT
*/

.main__about {
	width: 880px;
}

.main__about-title {
	font-weight: 700;
	font-size: 49px;
	text-transform: uppercase;
}

.main__desc {
	width: 700px;
	font-size: 18px;
}

.main__desc-title {
	font-weight: 700;
}

.main__desc-item {
	color: #ec1e79;
}

.main__desc-span {
	color: #221f1f;
}

.main__feature {
	width: 700px;
	font-size: 18px;
	background-color: #27273e;
	color: #ffffff;
}

.main__discount {
	font-weight: 700;
	color: #ec1e79;
}

.main__partners {
	width: 700px;
}

.main__partners-title {
	font-weight: 700;
	font-size: 49px;
	text-transform: uppercase;
}

.main__partners-list {
	list-style: none;
}

.main__partners-pic {
	width: 165px;
}


/*
* COMMENTS
*/

.main-nav {
	font-style: italic;
	font-size: 14px;
}

.main-nav__main {
	color: #ec1e79;
}

.main__feed-title {
	font-weight: 700;
	font-size: 49px;
}

.main__feed-list {
	list-style: none;
}

.main__feed-pic {
	width: 160px;
	height: 160px;
	border-radius: 50%;
	overflow: hidden;
}

.main__feed-time {
	font-size: 14px;
	color: #656464;
}

.main__feed-name {
	font-weight: 700;
	font-size: 18px;
}

.main__feed-text {
	font-size: 18px;
}

.main__pages {
	font-size: 14px;
	color: #656464;
}

.main__pages-list {
	list-style: none;
}

.main__pages-left {
	opacity: .3;
}

.main__pages-item {
	text-align: center;
	font-size: 14px;
	font-weight: 700;
	color: #221f1f;
	width: 25px;
	height: 25px;
}

.main__pages-item--active {
	background-color: #27273e;
	color: #ec1e79;
	border-radius: 10%;
}

.main__pages-link {
	text-decoration: none;
	color: #221f1f;
}

.form {
	width: 700px;
	background-color: #f5f5f5;
}

.form__title {
	font-weight: 700;
	font-size: 49px;
}

.form__label {
	font-size: 14px;
}

.form__input {
	width: 270px;
	height: 45px;
	font-size: 14px;
	opacity: .5;
	outline-color: #ec1e79;

}

.form__area {
	border-radius: 5px;
	outline-color: #ec1e79;
	width: 560px;
	height: 90px;
	font-size: 14px;
}

.form__button {
	width: 140px;
	background-color: #27273e;
	border-radius: 5px;
	color: #ffffff;
}

/*
* FOOTER
*/

.footer {
	background-color: #27273e;
	font-size: 14px;
	color: #ffffff;
}

.footer__desc {
	width: 275px;
}

.footer__desc-bold {
	font-weight: 700;
}

.footer__socials {
	width: 200px;
}

.footer__socials-title {
	font-weight: 700;

}

.footer__socials-list {
	list-style: none;
}

.footer__socials-icon {
	opacity: .8;
	width: 20px;
	height: 20px;
}

.footer__socials-icon:hover {
	opacity: 1;
	border-radius: 50%;
	background-color: #ec1e79;
	fill-color: #ec1e79;
}
.footer__socials-icon--vk {
	background-image: url('../img/icons/socials_vk_icon.png');
}

.footer__socials-icon--fb {
	background-image: url('../img/icons/socials_fb_icon.png');
}

.footer__socials-icon--go {
	background-image: url('../img/icons/socials_go_icon.png');
}

.footer__socials-icon--tw {
	background-image: url('../img/icons/socials_tw_icon.png');
}

.footer__socials-icon--mail {
	background-image: url('../img/icons/socials_mail_icon.png');
}
