.footer {
  background: #27273e;
  color: #ffffff;
  font-size: 14px;
  height: 77px;
  margin-top: -77px;
  min-width: 1100px;
  padding-bottom: 13px;
}

.footer__left, .footer__center, .footer__right {
  float: left;
  width: 33.3%;
}

.footer__center {
  text-align: center;
}

.footer__right {
  text-align: right;
  vertical-align: top;
}

.footer__desc {
  padding-top: 14px;
}

.footer__desc-link {
  font-weight: 700;
  color: #ffffff;
}

.logo {
  padding-top: 14px;
}

.footer__author {
  font-weight: 700;
}

.footer__socials {
  padding-top: 10px;
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
}

.footer__list {
  list-style: none;
}

.footer__item {
  display: inline-block;
  margin-right: 10px;
}

.footer__icon {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  opacity: .8;
}

.footer__icon:hover {
  opacity: 1;
}

.footer__icon--vk {
  background-image: url('../../img/icons/socials_vk_icon.png');
}

.footer__icon--vk:hover {
  background-image: url('../../img/icons/socials_vk_pink.png');
}

.footer__icon--fb {
  background-image: url('../../img/icons/socials_fb_icon.png');
}

.footer__icon--fb:hover {
  background-image: url('../../img/icons/socials_fb_pink.png');
}

.footer__icon--go {
  background-image: url('../../img/icons/socials_go_icon.png');
}

.footer__icon--go:hover {
  background-image: url('../../img/icons/socials_go_pink.png');
}

.footer__icon--tw {
  background-image: url('../../img/icons/socials_tw_icon.png');
}

.footer__icon--tw:hover {
  background-image: url('../../img/icons/socials_tw_pink.png');
}

.footer__icon--mail {
  background-image: url('../../img/icons/socials_mail_icon.png');
}

.footer__icon--mail:hover {
  background-image: url('../../img/icons/socials_mail_pink.png');
}