@font-face {
  font-family: 'GothamPro';
  src: url('../../fonts/GothamPro/GothamPro-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro';
  src: url('../../fonts/GothamPro/GothamPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro';
  src: url('../../fonts/GothamPro/GothamPro-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}